* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Baloo 2", cursive;
}

.banner-text {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.banner-text ul {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  /* Aligns the navbar to the right */
}

.banner-text ul li {
  display: inline-block;
  padding: 40px 15px;
  text-transform: uppercase;
  font-size: 20px;
}

.banner-text a {
  text-decoration: none;
  color: #fff;
}

.banner-text h2 {
  text-align: center;
  color: #fff;
  font-size: 100px;
  margin-top: 20%;
}

.animation-area {
  background: linear-gradient(to left, #bb7a45, #ae445a);
  width: 100vw;
  height: 100vh;
}

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(360deg);
    opacity: 0;
  }
}

.container-animated {
  width: 95%;
  max-width: 1160px;
  margin: auto;
}

.animated-heading {
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sticky+.content {
  padding-top: 60px;
}

/*About me */
#aboutme h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

#aboutme {
  height: 100vh;
  background-color: #1e1e1e;
  padding: 50px 0;
}

#aboutme .aboutme-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#aboutme .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#aboutme .Image img {
  height: 50vh;
  border-radius: 20px;
}

#aboutme .Text {
  max-width: 50vw;
  color: #fff;
}

.Myskills {
  text-align: center;
  padding-top: 10px;
  width: 100%;
}

.container-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill {
  text-align: center;
  color: #fff;
}

.skill img {
  height: 100px;
  /* Adjust the height to make images smaller */
  border-radius: 10px;
}

.skill .stars {
  font-size: 20px;
  color: gold;
  margin-top: 5px;
}




@media only screen and (max-width: 1000px) {
  #aboutme {
    padding: 30px 0;
  }

  #aboutme .container {
    flex-direction: column;
  }

  #aboutme .Text {
    max-width: 100%;
    padding: 20px;
  }

  .container-skills {
    flex-direction: column;
    gap: 20px;
  }
}

p {
  color: #fff;
  font-size: 25px;
}

#Projects {
  background-color: #ff9d9d;
  height: 100vh;
}

#Projects h1 {
  font-size: 50px;
  color: #fff;
}

#Contact {
  background-color: #000000;
  height: 100vh;
}

#Contact h1 {
  font-size: 50px;
  color: #fff;
  text-align: center;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  /* Ensures the navbar items are aligned to the right */
  text-align: right;
  /* Aligns the text to the right */
  position: fixed;
  width: 100%;
}