* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Baloo 2", cursive;
  background-color: #1e1e1e;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  color: #fff;
  font-size: 25px;
}

hr.rounded {
  display: flex;
  justify-content: flex-end;
  border: none;
  /* Remove the border to show the gradient background */
  height: 8px;
  /* Set the height to match the previous border */
  background: linear-gradient(to left, #ff7e5f, #feb47b);
  /* Gradient from left to right */
  border-radius: 5px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}




::-webkit-scrollbar {
  width: 15px;

}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, #ff7e5f, #feb47b);
  border-radius: 10px;
}