ErrorDocument 404 /404-page-not-found.html

RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteCond %{HTTP_HOST} ^www\.nielsdelaat\.us.to$
RewriteRule ^/?$ "http\:\/\/nielsdelaat\.us.to\/" [R=301,L]